<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>丫丫游记</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] + '-' + params[:action] %>">

  <div class="navbar clearfix">
    <div class="container">
      <a class="navbar-brand" href="/">
        丫丫游记
      </a>
      <ul class="nav left">
        <li><%= link_to  "音乐","/music" %></li>
        <li><%= link_to  "视频","/video" %></li>
        <li><%= link_to  "读书","/book" %></li>
        <li><%= link_to  "文摘","/digest" %></li>
        <li><%= link_to  "图片","/image" %></li>
        <% if current_user&& (current_user.name == "Ocean-藏心" ||current_user.name == "丫丫") %>  
        <li><%= link_to  "信","/letter" %></li>  
        <% end %>
        <li><%= link_to  t("navbar.about"),"/about" %></li>

      </ul>
      <ul class="nav right">
       <% if current_user %>
       <li><%= link_to current_user.name , "#" %></li>
       <li><%= link_to t("navbar.logout"),logout_path ,method: "delete" %></li>
       <% else %>
       <li><%= link_to t("navbar.login") , login_path %></li>
       <li><%= link_to t("navbar.signup"),signup_path %></li>
       <% end %>
     </ul>
   </div>
 </div>
 <% if flash.notice %>
 <div class="notice"><%= flash.notice %></div>
 <% end %>
 <script>
  $('.home-banner').anystretch();
  var hideNotice = function(){
    $(".notice").fadeOut("slow");
  }
  setTimeout(hideNotice, 2000);
</script>     
<%= yield %>



<div class="footer ">
 <div style="text-align:center" class="container ">
  欢迎关注此网站
</div>
</div>
</body>
</html>
